<!DOCTYPE html>
<html lang="{{@site.lang}}">
  <head>

    {{!-- Document Settings --}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{!-- Base Meta --}}
    <title>{{meta_title}} &minus; Paula Szymczyk &minus; {{@site.description}}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/all.css"}}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

  </head>
  <body class="{{body_class}}">

    <header>
      <div class="mCont">
        {{{block "headerTitle"}}}

        <div id="author-info">
          <div class="imageCont">
            <img src="{{@site.icon}}" height="50">
          </div>
          <span>Paula Szymczyk</span>

          <a href="https://instagram.com/paulaszymczyk" target="_blank" title="Instagram">
            <svg version="1.1" viewBox="0 0 24 24">
              <g stroke-linecap="round" stroke-width="2" fill="none" stroke-linejoin="round">
                <path d="M7,22c-2.7614,0 -5,-2.2386 -5,-5v-10c0,-2.7614 2.2386,-5 5,-5h10c2.7614,0 5,2.2386 5,5v10c0,2.7614 -2.2386,5 -5,5Z"></path>
                <path d="M16,11.37l2.37937e-08,1.60457e-07c0.324044,2.18524 -1.18476,4.21942 -3.37,4.54347c-2.18524,0.324044 -4.21942,-1.18476 -4.54347,-3.37c-0.324044,-2.18524 1.18476,-4.21942 3.37,-4.54347c0.389029,-0.0576881 0.784439,-0.0576881 1.17347,4.75874e-08l1.54692e-07,2.29388e-08c1.74298,0.258462 3.11154,1.62702 3.37,3.37Z"></path>
                <path d="M17.5,6.5v0"></path>
              </g>
            </svg>
          </a>
          <a href="https://twitter.com/paulaszymczyk" target="_blank" title="Twitter">
            <svg version="1.1" viewBox="0 0 24 24">
              <path d="M23,3l2.97279e-08,-2.09693e-08c-0.957614,0.675477 -2.01789,1.19211 -3.14,1.53l9.66567e-08,1.11138e-07c-1.62369,-1.86694 -4.4534,-2.06414 -6.32035,-0.440457c-0.994159,0.864623 -1.55731,2.12303 -1.53965,3.44046v1l3.07001e-07,-7.96063e-09c-3.56934,0.0925541 -6.94798,-1.60803 -9,-4.53c0,0 -4,9 5,13l-5.77015e-07,3.91677e-07c-2.05947,1.39797 -4.51284,2.09893 -7,2c9,5 20,0 20,-11.5l1.84135e-07,5.58009e-05c-0.000917433,-0.278546 -0.0276955,-0.556405 -0.0799894,-0.83l2.51661e-07,-2.48188e-07c1.02061,-1.00652 1.74083,-2.27732 2.07999,-3.67006Z" stroke-linecap="round" stroke-width="2" fill="none" stroke-linejoin="round"></path>
            </svg>
          </a>
          <a class="tumblr" href="https://petit-poids.tumblr.com/" target="_blank" title="Tumblr">
            <svg width="11px" height="20px" viewBox="0 0 11 20">
              <path d="M7.34449124,17 C4.95433385,17 3.17268898,15.7620936 3.17268898,12.8003766 L3.17268898,8.057211 L1,8.057211 L1,5.48891678 C3.39115495,4.86403916 4.39071159,2.79329735 4.50642873,1 L6.98836178,1 L6.98836178,5.07229823 L9.88428286,5.07229823 L9.88428286,8.057211 L6.98836178,8.057211 L6.98836178,12.1873478 C6.98836178,13.4253546 7.60884505,13.8532195 8.59742851,13.8532195 L10,13.8532195 L10,17 L7.34449124,17" fill-rule="evenodd" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div> <!-- /author-info -->
      </div>
    </header>

    {{> "site-nav"}}

    <main>
      {{{body}}}
    </main>

    <footer></footer>

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}
  </body>
</html>
